* {
			box-sizing: border-box;
		}

		:root {
			--bg_red: #db261b;
			--bg_blue: #021037;
		}

		.bg__red {
			background-color: #db261b;
		}

		.bg__blue {
			background-color: var(--bg_blue);
		}

		.text_red {
			color: #db261b;
		}
		.text_blue {
			color: #021037;
		}

		.lsn {
			list-style: none;
		}

		.tdn {
			text-decoration: none;
		}

		.midbarlogo {
			height: 190px;
		}

		

		nav>div>div>ul>li>.bg_dark {
			background-color: #343a40;

		}

		.bg_dark>li>a:hover {
			background-color: black;
		}

		.section1>div>div img {
			width: 100%;
			object-fit: contain;
		}

		.section2 {
			background-color: var(--bg_red);
			color: white;
		}

		.section2 .paragraph {
			text-align-last: center;
			letter-spacing: 1.2;
			word-spacing: 1.2;
		}

		.section3>div:nth-child(1)>div>h1 {
			font-size: 32px;
			color: #021037;
		}

		.section3>div:nth-child(2)>div>h2 {
			background-color: var(--bg_blue);
			color: white;
		}

		.bg_red {
			background-color: var(--bg_red);
			font-size: 20px;
		}

		.section4 {
			background-image: url("S-B imges/moto2.jpg");
			background-attachment: fixed;
		}

		.sec4_p {
			font-size: 20px;
		}

		.section5 {
			background-image: url("S-B imges/directorback.jpg");
			background-attachment: fixed;
		}

		.sec5_p {
			font-size: 15px;
			line-height: 1.91;
		}

		.min_height {
			min-height: 170px;
		}
		.section7{
			background-color:#f8f8f8;
		}
		.sec7icon{
			font-size:35px;
		}
		.sec7colheight{
			min-height:450px;
		}
		.section8{
			background-image:url("S-B imges/form1.jpg");
			background-attachment: fixed;
			background-repeat: no-repeat;
			background-size:100%;
			background-position:center;
		}
		.section8 form div label{
			font-weight: 500;
			padding-bottom:3px;
		}
		.footerfontsize{
			font-size:20px;
		}
		.footerpfont{
			font-size:15px;
			line-height:1.9;
		}
		.bg_redbtn:hover{
			background-color:var(--bg_red);
		}